body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.bill-portal {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #336799;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 20px;
}

.bill-table {
    width: 100%;

}
.bill-table th, .bill-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.bill-table th {
    background-color: #f2f2f2;
}
.btn-primary {
    background-color: #27c3e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
