<div class="container">
    <div class="ims-logo">
      </div>
    <div class="login-container">
        <h3>LOGIN</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input type="text" formControlName="userName" placeholder="Username" required>
          <span *ngIf="loginForm.controls['userName']?.invalid && loginForm.controls['userName'].dirty">
            Username is required
          </span>
      
          <input type="password" formControlName="password" placeholder="Password" required>
          <span *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password'].dirty">
            Password is required
          </span>
          
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>    
</div>