<div class="container">
  <div class="ims-logo"></div>
  <div class="login-container">
    <h3>LOGIN</h3>
    <!-- Reactive Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input type="text" formControlName="userName" placeholder="Username" required />
      <!-- Checks if the username is empty -->
      <span *ngIf="!userName() && loginForm.get('userName')?.touched"> 
        Username is required
      </span>
      <input type="password" formControlName="password" placeholder="Password" required />
      <span *ngIf="!password() && loginForm.get('password')?.touched">
        Password is required
      </span>
      <span *ngIf="loginError()" class="error-message">
        {{ loginError() }}
      </span>
      <button type="submit" [disabled]="isLoading()">
        {{ isLoading() ? 'Verifying...' : 'Login' }}
      </button>
    </form>
  </div>
</div>