.tree ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    cursor: pointer;
  }
  
  .tree li {
    list-style-type: none;
    display: block;
  }
  
  .tree li::marker {
    content: ""; 
  }
  