<div class="User-portal">
    <div class="card">
        <div class="card-header">
            <h5>Users</h5>
            <button class="btn-primary" [routerLink]="['/add-user']">Add New</button>
        </div>
        <div class="card-body">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>