<div class="row">
    <div class="col-md-6">
      <label class="label-text">PRODUCT MASTER</label>
    </div>
    <div class="col-md-6">
      <!-- Button Container with Flexbox -->
      <div class="button-container">
        <button class="btn btn-info">Add Product</button>
        <button class="btn btn-info">Add Main Group</button>
        <button class="btn btn-info" disabled>Add Sub Group</button>
        <button type="button" class="btn btn-info">Export AltUnit</button>
        <button class="btn btn-info">Export Product</button>
        <button class="btn btn-info">Import Product [F2]</button>
        <button routerlink="/navbar/components/top-bar" class="btn btn-info">Back</button>
        
       
      </div>
    </div>
  </div>
  

    <div class="row">
        <div class="col-md-3 sidebar">
            <h4>Product</h4>

          </div>
          
      <div class="col-md-9">
        <h3>Content on the right</h3>
        <p>This is the right side where your content can go.</p>
      </div>
    </div>
  