<div class="row">
    <div class="col-md-6">
      <label class="label-text">PRODUCT MASTER</label>
    </div>
    <div class="col-md-6">
      <div class="button-container">
        <button class="btn btn-info"(click)="redirectToAddProduct()">Add Product</button>
        <button class="btn btn-info">Add Main Group</button>
        <button class="btn btn-info" disabled>Add Sub Group</button>
        <button type="button" class="btn btn-info">Export AltUnit</button>
        <button class="btn btn-info">Export Product</button>
        <button class="btn btn-info">Import Product [F2]</button>
        <button routerlink="/navbar/components/top-bar" class="btn btn-info">Back</button>
      </div>
    </div>
  </div>
  

    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="tree">
              <app-tree></app-tree>
            </div>
          </div>
          
      <div class="col-md-9">
        <div class="tabs">
            <button class="tab-button" [ngClass]="{'active': activeTab.value === 'ProductList'}" (click)="activeTab.setValue('ProductList')">
              Product List
            </button>
            <button class="tab-button" [ngClass]="{'active': activeTab.value === 'ProductGroupList'}" (click)="activeTab.setValue('ProductGroupList')">
              Product Group List
            </button>
          </div>
          <form class="search-container">
            <!-- Search Type Radios -->
            <input type="search" placeholder="Search..." class="search-input">
            <button type="submit">Search</button>
          </form>
          <br>
        <div class="col-9">
          <div class="container">
            <h6>All Products:</h6>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Item Name</th>
                  <th>Barcode</th>
                  <th>Unit</th>
                  <th>Alternate Unit</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>{{ item.id }}</td>
                  <td>{{ item.itemName }}</td>
                  <td>{{ item.barcode }}</td>
                  <td>{{ item.unitName }}</td>
                  <td>{{ item.alternateUnit}}</td>
                  <td>
                    <button class="btn-primary" [routerLink]="['/add-product']">Edit</button>
                    &nbsp;
                    <button class="btn-danger"   (click)="onDelete(item.id)">Delete</button>
                </td>
                </tr>
              </tbody>
            </table>
          </div>          
      </div>
  
 
      