<div class="bill">
    <div class="row">
      <div class="col-md-2">
        <label class="label-name" for="barcodeField">BarCode:</label>
        <input class="input-size" id="barcodeField" type="text" placeholder="Enter Barcode" (click)="selectInput($event)">
      </div>
  
      <div class="col-md-4">
        <label class="label-name" for="description">Description:</label>
        <input  class="input-size" id="description" type="text" placeholder="Description">
      </div>
  
      <div class="col-md-2">
        <label class="label-name" for="quantityBarcode">Quantity:</label>
        <input class="input-size" id="quantityBarcode" type="number">
      </div>
  
      <div class="col-md-4">
        <label class="label-name">Stock: <span class="stock-indicator"></span></label>
      </div>
    </div>
  </div>
  