<!-- Upper Navbar (Fixed) -->
<nav class="upper-navbar">
  <div class="logo">Mihika</div>
  <ul class="nav-links">
      <li><a (click)="setLowerNavbar('master')">Master</a></li>
      <li><a (click)="setLowerNavbar('transactions')">Transactions</a></li>
      <li><a (click)="setLowerNavbar('master')">Report</a></li>
      <li><a (click)="setLowerNavbar('master')">Config</a></li>
  </ul>
      <div class="search-bar">
      <input type="text" placeholder="Search..." />
    </div>
</nav>

  <nav class="lower-navbar">
      <ul>
        <li *ngFor="let word of lowerNavbarWords">{{ word }}</li>
      </ul>
    </nav>

