.label-text {
  font-size: 18px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}
.btn {
  font-size: 11px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #336799;
  color: white;
  border-radius: 0%;
}

.btn:hover {
  background-color: #2dacd1;
  color: white;
}

.btn:focus {
  outline: none;
}

.main-container {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-bottom: 6px;
  padding: 1px;
  border-radius: 3px;
}

.label-div {
  flex: 1;
  text-align: left; 
  font-weight: bold;
  font-size: 12px;
}

.input-div {
  flex: 2;
}

.label-name {
  font-size: 12px;
  white-space: nowrap;
}

.input-size {
  width: 100%;
  padding: 3px;
  font-size: 12px;
  background: #fff; 
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: 100%;
  height: 40px;
  padding: 3px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ccc;

}

.discount {
  display: flex;
  align-items: center;
  gap: 5px;
}

.discount .label-div,
.discount .input-div {
  width: auto;
}

/* for the popup - salesman */
.salesman-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}
.salesman-popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 90%;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  background-color: #2dacd1;
}

.popup-header h3 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

.close-button:hover {
  color: #333;
}

.popup-body {
  padding: 13px;
}

.popup-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-body li {
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.popup-body li:hover {
  background: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

table th {
  background: #4e7fa7;
  font-weight: bold;
}

table tr:hover {
  cursor: pointer;
}


