<div class="row">
  <div class="col-md-6">
    <button class="btn btn-info" (click)="toggleDetails()">
      {{ showDetails ? 'Hide Details F1' : 'Show Details F1' }}
    </button> &nbsp;
    <label class="label-text">ABBREVIATED TAX INVOICE</label>
  </div>
  <div class="col-md-6 button-container">
    <button class="btn btn-info">Image upload</button>
    <button class="btn btn-info">Reset F3</button>
    <button class="btn btn-info">Save</button>
    <button type="button" class="btn btn-info" [routerLink]="['/view']">View</button>
    <button routerLink="/navbar/components/top-bar" class="btn btn-info">Back</button>
  </div>
</div>

<br />
<div class="row main-container" *ngIf="showDetails">
<!-- 1stcol -->
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Bill No</label>
      </div>
      <div class="col-7 input-div">
        <span class="bold-text">BILL123</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Inv Date</label>
      </div>
      <div class="col-7 input-div">
        <input type="date" max="2025-03-20" formControlName="invDate" disabled class="input-size">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Entry Date</label>
      </div>
      <div class="col-7 input-div">
        <input type="date" max="2025-03-20" formControlName="entryDate" disabled class="input-size">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">S NO</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" placeholder="Enter to Select SO no." readonly formControlName="soNo" class="input-size">
        <input type="checkbox" formControlName="loadFullSODetail">
        <label class="label-name">Load Full SO Detail</label>
      </div>
    </div>
  </div>
<!-- 2nd col -->
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Salesman</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" [placeholder]="selectedSalesman || 'Select Salesman'" formControlName="salesman" class="input-size" (keydown.enter)="openSalesmanPopup()">
      </div>
    </div>
    
    <div *ngIf="showSalesmanPopup" class="salesman-popup-overlay">
      <div class="salesman-popup">
        <div class="popup-header">
          <h3>Salesman</h3>
          <button class="close-button" (click)="closeSalesmanPopup()">&times;</button>
        </div>
        <div class="popup-body">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact Info</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salesman of salesmen" (click)="selectedSalesman(salesman)">
                <td>{{ salesman.name }}</td>
                <td>{{ salesman.contactInfo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Warehouse</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" placeholder="Press Enter to Select warehouse" readonly formControlName="salesman" class="input-size">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Cost Center</label>
      </div>
      <div class="col-7 input-div">
        <select formControlName="costCenter" style="font-size: 12px;">
          <option >Select</option>
          <option >Finance</option>
          <option >Operations</option>
          <option >IT</option>
        </select>
      </div>
    </div>
  </div>
<!-- 3col -->
  <div class="col-md-4">
    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Customer</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" placeholder="Press ENTER to Select Customer" formControlName="customer" class="input-size">
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Address</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" readonly formControlName="address" class="input-size">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">VAT NO</label>
      </div>
      <div class="col-7 input-div">
        <input type="text" readonly formControlName="vatNo" class="input-size">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 label-div">
        <label class="label-name">Remarks</label>
      </div>
      <div class="col-7 input-div">
        <textarea formControlName="remarks"></textarea>
      </div>
    </div>

    <div class="form-group row discount">
      <div class="col-5 label-div">
        <label class="label-name">Flat Dis(%)</label>
      </div>
      <div class="col-7 input-div">
        <input type="number" formControlName="flatDisPercent" disabled class="input-size">
      </div>
      <div class="col-5 label-div">
        <label class="label-name">Flat Dis(Rs)</label>
      </div>
      <div class="col-7 input-div">
        <input type="number" formControlName="flatDisRs" disabled class="input-size">
      </div>
    </div>
  </div>
</div>
<div class="content">
  <app-billing></app-billing>
 </div>

