<br><br>
<div class="row">
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Total sales</p>
        <p>Rs. 0.00</p>
        <div class="icon">
          <img src="../../../assets/stock.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Sales Returns</p>
        <p>Rs. 0.00</p>
        <div class="icon">
          <img src="../../../assets/stock.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Net Sales Value</p>
        <p>Rs. 0.00</p>
        <div class="icon">
          <img src="../../../assets/stock.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>No. of Bills</p>
        <p>0.00</p>
        <div class="icon">
          <img src="../../../assets/stock.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Average Basket Size</p>
        <p>Size : 0.00</p>
        <p>Rs : 0.00</p>
        <div class="icon">
          <img src="../../../assets/stock.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Total Purchase</p>
        <p>Rs. 40,000.00</p>
        <div class="icon">
          <img src="../../../assets/logo.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Purchase Return</p>
        <p>Rs. 0.00</p>
        <div class="icon">
          <img src="../../assets/stock.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <p>Net Purchase</p>
        <p>Rs. 40,000.00</p>
        <div class="icon">
          <img src="../../assets/stock.png">
        </div>
      </div>
    </div>
</div>
  