<br>
<div class="row">
    <div class="rectangle-item">
      <div class="rectangle-blue">
        <div class="text">
          <p>Total sales</p>
          <p>Rs. 0.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/stock.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle-blue">
        <div class="text">
          <p>Sales Returns</p>
          <p>Rs. 0.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/exchange.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle-pinkb">
        <div class="text">
          <p>Net Sales Value</p>
          <p>Rs. 0.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/stock.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle-pink">
        <div class="text">
          <p>No. of Bills</p>
          <p>Rs. 0.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/bill.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <div class="text">
          <p>Average Basket Size</p>
          <p>Rs. 0.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/basket.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <div class="text">
          <p>Total purchase</p>
          <p>Rs. 40,000.00</p>
        </div>
        <div class="icon">
          <img src="../../../assets/clipboard.png" >
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle-green">
        <div class="text">
          <p>Purchase Return</p>
          <p>Rs. 0.0</p>
        </div>
        <div class="icon">
          <img src="../../assets/pay.png">
        </div>
      </div>
    </div>
  
    <div class="rectangle-item">
      <div class="rectangle">
        <div class="text">
          <p>Net Purchase</p>
          <p>Rs. 40,000.00</p>
        </div>
        <div class="icon">
          <img src="../../assets/hand.png">
        </div>
      </div>
    </div>
</div>

<div class="chart-wrapper">
  <div class="chart">
    <h6>A BARCHART</h6>
    <canvas #barChart></canvas>
  </div>

  <div class="chart pie">
    <h6>A PIECHART</h6>
    <canvas #pieChart></canvas>
  </div>
</div>

 

  